#contact {
    background-color: #F3F3F3;
}

.contact__tittle {
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    padding-top: 80px;
}

.contact__text {
    color: var(--second-text-color, #737373);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 100%;
    margin: 10px auto 80px;
    max-width: 470px;
}


.contact__cards__wrapp {
    padding-bottom: 200px;
}

.contact__card {
    display: flex;
    width: 328px;
    padding: 50px 40px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white
}

.contact__card:hover {
    background-color: hsla(228, 28%, 20%, 1);
    color: var(--primaryColor);
    transform: scale(1.06);
}

.contact__card:hover .contact__card__btn {
    color: var(--primaryColor);
    border-color: var(--primaryColor);
    background-color: transparent;
}

.contact__card:hover .contact__card__btn:hover {
    color: var(--primaryColor);
    background-color: var(--hoverColor);
    border-color: transparent;
}

.contact__card:hover .contact__svg svg path {
    fill: var(--primaryColor);
}

.contact__card__svg {
    width: 72px;
    height: 72px;
}

.contact__svg svg path {
    fill: var(--secondColor);
}

.contact__link {
    text-align: center;

    /* h6 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.2px;
}

.contact__card__btn {
    padding: 10px 20px;
    color: var(--hoverColor);
    border: 2px solid var(--hoverColor);
    background-color: var(--primaryColor);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    transition: 0.4s;
}


.contact__forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__input {
    display: flex;
    width: 100%;
    max-width: 1050px;
    height: 50px;
    padding: 12px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: none;
    border: 2px solid #E0E0E0;

    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.14px;
}
.contact__input:focus {
    outline: none;
    border: 2px solid var(--secondColor);
}

.comment {
    height: 156px;
}

.contact__us-btn {
    width: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    margin: 60px auto 100px;
    border-radius: 10px;
    border: 2px solid var(--hoverColor);
    transition: 0.4s;

    color: var(--hoverColor);
    font-size: 14px;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: 0.2px;
}

.contact__us-btn:hover {
    background-color: var(--hoverColor);
    color: var(--primaryColor);
    border-color: transparent;
}

/* --------- First mobile ------- */

.contact__mobile {
    background-color: var(--primaryColor);
    display: none;
}

.contact__mobile >  div {
    width: 100%;
    max-width: 236px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 40px 0;
}

.contact__mobile__tittle {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.contact__mobile__text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.mobile__btn {
    margin: 50px auto 0 0;
}


/* --------- First decktop ------- */



@media (max-width:1070px) {
    .contact__cards__wrapp {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .contact__card {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width:600px) {
    .contact__card {
        width: 100%;
        max-width: 330px;
    }
}

@media (max-width:500px) {
    .contact__forms {
        display: none;
    }

    .contact__mobile {
        display: block;
    }

    .contact__card {
        width: 300px;
    }
}

