
.service__wrapp {
    padding-bottom: 214px;
}

.service__tittle {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px; 
    letter-spacing: 0.2px;
    margin-top: 100px;
    padding-bottom: 15PX;
}

.service__text {
    width: 100%;
    max-width: 511px;
    color: var(--text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: 0.2px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.service__left {
    position: relative;
}

.service__left__btn {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondColor);
    position: absolute;
    top: 40%;
    left: 43%;
}


.service__right {
    width: 100%;
    max-width: 333px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.service__right__tittle {
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.service__right__text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: 0.2px;
    padding: 10px 0 20px;
}

.service__bottom {
    padding-bottom: 30px;
}

.service__statistica {
    width: 100%;
    max-width: 277px;
}



.newsletter__icons {
    padding-bottom: 76px;
}

.newsletter__server {
    margin-bottom: 85px;
}


.newsletter__server > div {
    padding: 30px 50px;
    background-color: var(--footerColor);
}

.newsletter__submit {
    display: flex;
    background-color: white;
    border-radius: 5px;
    max-width: 80%;
}

.newsletter__tittle {
    color: var(--primaryColor);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    width: 100%;
    max-width: 260px;
}

.newsletter__input {
    width: 400px;
    padding: 15px 0 15px 20px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.newsletter__input:focus {
    outline: none;
    border: none;
}

.newsletter__btn {
    margin-left: 0;
    padding: 15px 22px;
    color: var(--primaryColor);
    background-color: var(--hoverColor);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    border-radius: 0 5px 5px 0;
    border-color: var(--hoverColor);
    transition: 0.4s;
}

.newsletter__btn:hover {
    background-color: var(--primaryColor);
    color: var(--hoverColor);
    outline: none;
}


@media (max-width:1000px) {
    .service__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 52px;
    }

    .service__right__tittle {
        text-align: center;
    }

    .service__right__text {
        text-align: center;
    }


    .newsletter__icons {
        max-width: 600px;
        gap: 70px;
        flex-wrap: wrap;
        margin: 0 auto;
    }

     .newsletter__input {
        width: 200px;
    }
}

@media (max-width:800px) {
    .newsletter__server > div {
        display: flex;
        flex-direction: column;
    }

    .newsletter__tittle {
        text-align: center;
        padding-bottom: 30px;
    }
}

@media (max-width:650px) {
    .service__left > img {
        width: 333px;
        height: 442px;
    }

    .service__left__btn {
        left: 35%;
    }
}

@media (max-width:500px) {
    .newsletter__icons {
        flex-wrap: wrap;
        width: 300px;
        gap: 50px;
    }

    .newsletter__submit {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: none;
        
    }

    .newsletter__input {
        max-width: 250px;
        border-radius: 5px;
    }

    .newsletter__btn {
        border-radius: 5px;
    }

    .newsletter__server > div {
        padding: 30px 20px;
    }
}

@media (max-width:455px) {
    .newsletter__icons {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .service__left > img {
        width: 250px;
        height: 350px;
    }

    .service__left__btn {
        width: 70px;
        height: 70px;
        left: 35%;
    }

    .service__bottom {
        text-align: center;
        margin: 0 auto;
    }

    .service__bottom > img {
        display: none;
    }
}

@media (max-width:350px) {
    .newsletter__input {
        max-width: 150px;
    }
}